<div class="dialog-container">
  <h2 mat-dialog-title>Create Your Account</h2>
  <div mat-dialog-content>
    <p class="dialog-subtitle">Join to start tracking and managing events.</p>
    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="outline">
        <mat-label>Username</mat-label>
        <input matInput formControlName="username" required />
        <mat-error *ngIf="signupForm.get('username')?.hasError('required')"
          >Username is required</mat-error
        >
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" type="password" required />
        <mat-error *ngIf="signupForm.get('password')?.hasError('required')"
          >Password is required</mat-error
        >
        <mat-error *ngIf="signupForm.get('password')?.hasError('minlength')"
          >Password must be at least 6 characters long</mat-error
        >
      </mat-form-field>

      <div class="error-message" *ngIf="errorMessage">
        {{ errorMessage }}
      </div>
    </form>
  </div>
  <div mat-dialog-actions>
    <button mat-stroked-button (click)="onCancel()">Cancel</button>
    <button
      mat-flat-button
      color="primary"
      (click)="onSubmit()"
      [disabled]="isLoading"
    >
      <div class="button-content">
        <mat-spinner *ngIf="isLoading" diameter="20"></mat-spinner>
        <span>{{ isLoading ? "Creating Account..." : "Sign Up" }}</span>
      </div>
    </button>
  </div>
</div>
